<div id="location-banner-root" data-view="banner"></div>
{{ 'react-app.js' | asset_url | script_tag }}
{{ 'index.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Location Banner",
  "target": "section",
  "settings": []
}
{% endschema %}
